In [13]:
import pandas as pd
import numpy as np
import random

In [14]:
data = pd.read_csv("../data/ML_data15.csv")
data

,가을,가족,갈매기,강릉,강촌,개울,갯배,겨울,겨울연가,경기도,...,하이킹,해수욕장,해안,호수,혼자,화강암,휴가,휴양지,힐링,place
0,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,남이섬
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,남이섬
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,남이섬
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,남이섬
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,남이섬
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5928,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,남이섬
5929,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,남이섬
5930,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,남이섬
5931,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,남이섬
5932,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,남이섬

In [15]:
place_list = data.place.unique().tolist()
place_list

['남이섬',
 '강원도립화목원',
 '정동진해변',
 nan,
 '설악산국립공원',
 '경포대',
 '경포해변',
 '제이드가든',
 '등대전망대',
 '낙산사',
 '하슬라아트월드·피노키오미술관',
 '대관령양떼목장',
 '주문진해변',
 '속초해변',
 '바다열차',
 '아바이마을',
 '강문해변',
 '오죽헌',
 '모래시계공원',
 '하이원리조트',
 '하조대',
 '테디베어팜',
 '망상해변',
 '아리힐스-스카이워크',
 '묵호항',
 '원조초당순두부',
 '신흥사',
 '정동진시간박물관',
 '통일전망대',
 '선교장',
 '테디베어박물관',
 '뮤지엄산',
 '환선굴',
 '정동진해돋이공원',
 '화진포해변',
 '해양레일바이크',
 '춘천명동닭갈비골목',
 '대포항',
 '참소리축음기·에디슨과학박물관',
 '엑스포타워',
 '김유정문학촌',
 '삼팔선',
 '오대산국립공원',
 '청초호',
 '애니메이션박물관',
 '촛대바위',
 '춘천중앙시장',
 '설악케이블카',
 '장호항',
 '월정사',
 '레일바이크',
 '낙산해변',
 '사천해변',
 '권금성',
 '정동진조각공원',
 '경포호',
 '소양호',
 '영랑호',
 '국립미천골자연휴양림',
 '두타산자연휴양림',
 '화암동굴',
 'DMZ박물관',
 '울산암각화박물관',
 '조도',
 '운암정베이커리카페',
 '평창휘닉스파크스키장',
 '천곡황금박쥐동굴',
 '국립춘천박물관',
 '척산족욕공원',
 '소양강처녀상',
 '금강굴',
 '아라나비체험',
 '허브나라농원',
 '아라리촌',
 '치악산국립공원',
 '대관령박물관',
 '대관령자연휴양림',
 '추암해변',
 '무릉계곡',
 '백담사',
 '강원드라마갤러리',
 '공지천',
 '외옹치항',
 '비룡폭포',
 '죽서루',
 '영월한반도지형',
 '장릉',
 '막국수체험박물관',
 '새천년해안도로',
 '태백산국립공원',
 '강릉단오문화관',
 '박경리문학공원',
 '새비재골',
 '천당폭포',
 '대승폭포',
 '횡성풍수원성당',
 '한국자생식물원',
 '파슈파티나트힌두사원',
 '대청봉',
 '춘천미술관',
 '(주)브라운5번가',
 '만경대',
 '속초시립박물관',
 '대금굴',
 '화진포해양박물관',
 '방태산자연휴양림',
 '강촌유원지',
 '천불동계곡',
 '석봉도자기미술관',
 '흥정계곡',
 '횡성온천',
 '동강사진박물관',
 '얼라이브하트',
 '설악해맞이공원',
 '화진포',
 '효석문화마을',
 '청대산',
 '정선레일바이크',
 '고원자연휴양림',
 '상원사',
 '삼화사',
 '을지전망대',
 '양구선사박물관',
 '황지연못',
 '태백석탄박물관',
 '범바위',
 '철의삼각전적관',
 '수타사',
 '구곡폭포',
 '청동동상',
 '구룡사',
 '서울종가김치체험관',
 '조선민화박물관',
 '홍천생명건강과학관',
 '학무정',
 '청평사',
 '청령포',
 '금당계곡',
 '양구통일관',
 '동강어라연',
 '호안다구박물관',
 '두타연',
 '안목해변카페거리']

In [16]:
data.columns[0:139]

Index(['가을', '가족', '갈매기', '강릉', '강촌', '개울', '갯배', '겨울', '겨울연가', '경기도',
       ...
       '풍경', '하이킹', '해수욕장', '해안', '호수', '혼자', '화강암', '휴가', '휴양지', '힐링'],
      dtype='object', length=139)

In [17]:
word_list = pd.DataFrame(data.columns[0:139], columns = ["장소"])
word_list

      장소
0     가을
1     가족
2    갈매기
3     강릉
4     강촌
..   ...
134   혼자
135  화강암
136   휴가
137  휴양지
138   힐링

[139 rows x 1 columns]

In [18]:
word_list.to_csv("../data/word_list.csv", index =False, encoding = "utf-8-sig")

In [19]:
user = pd.DataFrame(np.zeros(shape=(1,140), dtype = np.int8))
user2 = pd.DataFrame(np.zeros(shape=(1,140), dtype = np.int8))

In [20]:
user.columns = data.columns

pandas.core.frame.DataFrame

In [9]:
answer = user.drop(columns = "place")

In [10]:
answer

,가을,가족,갈매기,강릉,강촌,개울,갯배,겨울,겨울연가,경기도,...,풍경,하이킹,해수욕장,해안,호수,혼자,화강암,휴가,휴양지,힐링
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
answer.to_csv("../data/user_answer_form.csv",index = False, encoding = "utf-8-sig")

In [37]:
indexs1 = random.sample(range(0,140),10)
indexs2 = random.sample(range(0,140),10)

In [38]:
indexs1,indexs2

([65, 58, 91, 8, 69, 107, 99, 78, 18, 60],
 [81, 55, 71, 128, 122, 138, 48, 86, 103, 115])

In [39]:
user.iat[:,indexs1] = 1
user2.iat[:,indexs2] = 1

ValueError: iAt based indexing can only have integer indexers

In [40]:
user

,가을,가족,갈매기,강릉,강촌,개울,갯배,겨울,겨울연가,경기도,...,하이킹,해수욕장,해안,호수,혼자,화강암,휴가,휴양지,힐링,place
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
user_list = pd.concat([user,user2], axis = 0)
user_list.columns = data.columns

ValueError: Length mismatch: Expected axis has 280 elements, new values have 140 elements

In [76]:
user_list

,장소,가게,가격,가계,가구,가기,가능,가능성,가대,가량,...,흥분,흥정,흥행,희귀,희망,희생,흰색,히터,힐링,힘
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [77]:
user_list.to_csv("../data/example_user1.csv", index = False)

In [83]:
place_list[156]
place_list[161]

'코리아인터내셔널스키스쿨'

In [12]:
pd.DataFrame(place_list, columns = ["place"]).to_csv("../data/Gangwon_place_list.csv", index=False, encoding = "utf-8-sig")